<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
    <property name="hibernate.connection.url">jdbc:derby:db/userdata;create=true</property>
    
  
    <!-- Enable Hibernates's automatic session context management -->
    <property name="hibernate.current_session_context_class">thread</property>
    <!-- JDBC connection pool (use the built-in) -->
    <property name="hibernate.connection.pool_size">5</property>
    <!-- Drop and re-create the database scheme on startup -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!-- helper and debug settings -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">false</property>
    <!-- mapping resources -->
    <mapping resource="srcclasses/user.hbm.xml"/>
    <mapping resource="srcclasses/task.hbm.xml"/>
    <mapping class="srcclasses.User" package="srcclasses"/>
    <mapping class="srcclasses.Tasks" package="srcclasses"/>
  </session-factory>
</hibernate-configuration>
